<h1>This is the page where we can ask questions</h1>
<p>Let's add some random text here</p>
 <form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask a question here!">
  <input type="submit" value="Ask!">
</form>
